#group{
    display: flex;
    flex-direction: column;
    margin: 15px;
}


.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

label{
    font-weight: 400;
}
input{
    border-radius: 5px;
    height: 25px;
}
select{
    border-radius: 5px;
    height: 30px;
}
